<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">
    <%= link_to root_path do %>
      Tasks 2
    <% end %>
  </div>
  <div class="list-group list-group-flush">
    <%= link_to "Home Page", root_path, class: "list-group-item" %>
    <% if member_signed_in? %>
      <%#= link_to "User Profile", albums_path, class: "list-group-item"%>
      <%#= link_to 'Add Ablum', new_album_path, class: "list-group-item" %>
    <% end %>
  </div>
</div>
<!-- /#sidebar-wrapper -->
